.bg{
    background: #061425;
}
.my-profile{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
.profile_title{
    flex: 0 0 auto;
    width: 100%;
}
.profContainer {
    max-width: 964px;
    margin: auto;
    padding-bottom: 24.3rem;
}
.my-profile-content{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    align-items: center;
}
.profile-details{
    flex: 0 0 auto;
    width: 33.33333333%;
}
.profImg img {
    width: 161px;
    height: 161px;
    border-radius: 50%;
    margin-bottom: 2.8rem;
    display: block;
}
.profImg a {
    font-weight: 500;
    font-size: 15.2px;
    line-height: 2rem;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #BBC9ED;
}
.profImg a svg {
    height: 20px;
    width: 20px;
    padding: 0.3rem;
    margin-right: 5px;
}
.profDetails {
    margin-bottom: 34px;
}
.profDetails h2 {
    font-weight: 500;
    font-size: 11.8px;
    line-height: 1.5rem;
    letter-spacing: 0.1em;
    color: #BBC9ED;
    margin-bottom: 0.8rem;
}
.profDetails h1 {
    font-weight: 500;
    font-size: 15.26px;
    line-height: 2.2rem;
    color: #FFFFFF;
}
@media (max-width: 767.98px){
    .profContainer {
        padding-bottom: 150px;
    }
    .my-profile-content {
        flex-direction: column;
        padding: 0 6px;
    }
    .profile-details {
        flex: 0 0 auto;
        width: 100%;
    }
    .profImg {
        text-align: center;
        margin-bottom: 78px;
    }
    .profImg img {
        margin: auto;
        margin-bottom: 20px;
        height: 181px;
        width: 181px;
    }
    .profDetails {
        margin-bottom: 37px;
    }
    .profDetails h2 {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.1em;
        margin-bottom: 5px;
    }
    .profDetails h1 {
        font-size: 18px;
        line-height: 22px;
    }
}