.berthingSec {
    padding-top: 42px;
    padding-bottom: 401px;
    background: #061425;
}
.berthing-schedule{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.berthing-title{
    flex: 0 0 auto;
    width: 66.66666667%;
}
.print{
    flex: 0 0 auto;
    width: 33.33333333%;
    text-align: right;
}
.berthingSec h3 {
    font-weight: bold;
    font-size: 40px;
    line-height: 5.6rem;
    letter-spacing: -0.03em;
    color: #E6EAF5;
}
.berthingSec .btn {
    color: #BBC9ED;
}
.berthing-report{
    display: flex;
    padding: 0 6px;
    flex-wrap: wrap;
}
.berthing-report-table{
    flex: 0 0 auto;
    width: 100%;
}
.desktopTable {
    padding-top: 63px;
}
.table-responsive {
    overflow-x: auto;
}
.table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
}
table {
    caption-side: bottom;
    border-collapse: collapse;
}
.desktopTable thead {
    border: none !important;
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}
.desktopTable thead th {
    border: 2px solid #061425;
}
.desktopTable thead tr th:last-child {
    text-align: center;
    /* padding-right: 4rem; */
}
.desktopTable thead tr th:first-child {
    min-width: 10vw;
}
.desktopTable thead tr th:nth-child(2) {
    min-width: 15vw;
}
.desktopTable thead tr th:nth-child(3) {
    min-width: 22vw;
}
.desktopTable thead th {
    text-align: start;
   padding: 34px 4px;
    font-weight: bold;
    font-size: 13.5px;
    line-height: 1.9rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #E6EAF5;
}
.table>:not(caption)>*>* {
    padding: 0.5rem 0.5rem;
    background-color: var(--bs-table-bg);
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.desktopTable tbody tr td {
    font-weight: normal;
    font-size: 15px;
    line-height: 2.2rem;
    letter-spacing: -0.02em;
    color: #BBC9ED;
    padding-top: 34px;
    padding-bottom: 34px;
}
.desktopTable tbody td {
    border-bottom: 1px solid rgba(187, 201, 237, 0.3);
}
.desktopTable tbody tr td:last-child {
    text-align: center;
}
.desktopTable .btn {
    /* border-color: rgba(187, 201, 237, 0.3); */
    padding: 13px 16px;
    border: 2px solid rgba(187, 201, 237, 0.3);
}
.berthingSec .btn {
    color: #BBC9ED;
}
.desktopTable .btn svg {
    height: 16px;
    width: 16px;
    margin-right: 8px;
    margin-top: -0.4rem;
}
.mobileBerthRep {
    display: none;
    margin-top: 20px;
}
@media (max-width: 767.98px){
    .berthingSec h3 {
        font-size: 19px;
        line-height: 23px;
        letter-spacing: -0.03em;
    }
    .desktopTable {
        display: none;
    }
    .mobileBerthRep {
        display: block;
    }
    .br{
        --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    }
    .mobileBerthRep {
        margin-top: 20px;
    }
    .br-mobile{
        flex: 0 0 auto;
        width: 100%;
        padding: 0 6px;
    }
    .berthingRepCard {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    .berthingRepCard {
        background: rgba(56, 95, 142, .16);
        /* opacity: 0.16; */
        border-radius: 10px;
        padding: 28px 22px;
    }
    .d-flex {
        display: flex!important;
    }
    .berthingRepCard .sn {
        font-weight: normal;
        font-size: 17px;
        line-height: 21px;
        letter-spacing: -0.02em;
        color: #BBC9ED;
        margin-right: 14px;
    }
    .berthingRepCard h4 {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.02em;
        color: #BBC9ED;
        margin-bottom: 8px;
    }
    .berthingRepCard h5 {
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.02em;
        color: #BBC9ED;
        opacity: 0.6;
    }
    .berthingRepCard button {
        background-color: transparent;
        border: 2px solid rgba(187, 201, 237, 0.3);
        padding: 13px;
    }
    .berthingRepCard button img {
        height: 20px;
        width: 20px;
    }
}